      <!-- breadcrumb -->
      <breadcrumb #parent>
        <nav class="breadcrumb-bg">
          <div class="container no-index">
            <ol class="breadcrumb">
              <ng-template ngFor let-route [ngForOf]="parent.breadcrumbs">
                <li *ngIf="!route.terminal" class="breadcrumb-item">
                  <a [routerLink]="[route.url]">{{ route.displayName }}</a>
                </li>
                <li *ngIf="route.terminal" class="breadcrumb-item active" aria-current="page">{{ route.displayName }}</li>
              </ng-template>
            </ol>
          </div>
        </nav>
      </breadcrumb>
