<div class="container">
  <!-- banner -->
  <app-middle-banner></app-middle-banner>

  <!-- best seller -->
  <div class="section best-sellers col-lg-12 col-xs-12">
      <div class="row">
          <div class="col-md-12 col-xs-12">
              <div class="groupproductlist">
                  <div class="row d-flex align-items-center">
                      <!-- column 4 -->
                      <div class="flex-4 col-lg-4 flex-4">
                          <h2 class="title-block">
                              <span class="sub-title">Best sellers Products</span>Best Sellers
                          </h2>
                          <div class="content-text">
                              <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                  tempor incididunt ut labore dolore magna aliqua.
                              </p>
                              <div>
                                  <a href="product-grid-sidebar-left.html"> View all product </a>
                              </div>
                          </div>
                      </div>

                      <!-- column 8 -->
                      <div class="block-content col-lg-8 flex-8">
                          <div class="tab-content">
                              <div class="tab-pane fade in active show">
                                  <div class="category-product-index owl-carousel owl-theme owl-loaded owl-drag">
                                      <div class="item text-center">
                                          <div class="product-miniature js-product-miniature item-one first-item">
                                              <div class="thumbnail-container">
                                                  <a href="product-detail.html">
                                                      <img class="img-fluid image-cover" src="assets/img/product/26.jpg" alt="img">
                                                      <img class="img-fluid image-secondary" src="assets/img/product/1.jpg" alt="img">
                                                  </a>
                                                  <div class="highlighted-informations">
                                                      <div class="variant-links">
                                                          <a href="#" class="color beige" title="Beige"></a>
                <a href="#" class="color orange" title="Orange"></a>
                <a href="#" class="color green" title="Green"></a>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="product-description">
                                                  <div class="product-groups">
                                                      <div class="product-title">
                                                          <a href="product-detail.html">Nulla et justo non augue</a>
                                                      </div>
                                                      <div class="product-group-price">
                                                          <div class="product-price-and-shipping">
                                                              <span class="price">£5</span>
                                                              <del class="regular-price">£28.68</del>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="product-buttons d-flex justify-content-center">
                                                      <form action="#" method="post" class="formAddToCart">
                                                          <input type="hidden" name="id_product" value="1">
                                                          <a class="add-to-cart" href="#" data-button-action="add-to-cart">
                                                              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                          </a>
                                                      </form>
                                                      <a class="addToWishlist" href="#" data-rel="1" onclick="">
                                                          <i class="fa fa-heart" aria-hidden="true"></i>
                                                      </a>
                                                      <a href="#" class="quick-view hidden-sm-down" data-link-action="quickview">
                                                          <i class="fa fa-eye" aria-hidden="true"></i>
                                                      </a>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="product-miniature js-product-miniature item-one first-item">
                                              <div class="thumbnail-container">
                                                  <a href="product-detail.html">
                                                      <img class="img-fluid image-cover" src="assets/img/product/25.jpg" alt="img">
                                                      <img class="img-fluid image-secondary" src="assets/img/product/2.jpg" alt="img">
                                                  </a>
                                                  <div class="highlighted-informations">
                                                      <div class="variant-links">
                                                          <a href="#" class="color beige" title="Beige"></a>
                <a href="#" class="color orange" title="Orange"></a>
                <a href="#" class="color green" title="Green"></a>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="product-description">
                                                  <div class="product-groups">
                                                      <div class="product-title">
                                                          <a href="product-detail.html">Nulla et justo non augue</a>
                                                      </div>
                                                      <div class="product-group-price">
                                                          <div class="product-price-and-shipping">
                                                              <span class="price">£10</span>
                                                              <del class="regular-price">£28.68</del>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="product-buttons d-flex justify-content-center">
                                                      <form action="#" method="post" class="formAddToCart">

                                                          <input type="hidden" name="id_product" value="1">
                                                          <a class="add-to-cart" href="#" data-button-action="add-to-cart">
                                                              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                          </a>
                                                      </form>
                                                      <a class="addToWishlist" href="#" data-rel="1" onclick="">
                                                          <i class="fa fa-heart" aria-hidden="true"></i>
                                                      </a>
                                                      <a href="#" class="quick-view hidden-sm-down" data-link-action="quickview">
                                                          <i class="fa fa-eye" aria-hidden="true"></i>
                                                      </a>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="item text-center">
                                        <div class="product-miniature js-product-miniature item-one first-item">
                                            <div class="thumbnail-container">
                                                <a href="product-detail.html">
                                                    <img class="img-fluid image-cover" src="assets/img/product/26.jpg" alt="img">
                                                    <img class="img-fluid image-secondary" src="assets/img/product/1.jpg" alt="img">
                                                </a>
                                                <div class="highlighted-informations">
                                                    <div class="variant-links">
                                                        <a href="#" class="color beige" title="Beige"></a>
              <a href="#" class="color orange" title="Orange"></a>
              <a href="#" class="color green" title="Green"></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-description">
                                                <div class="product-groups">
                                                    <div class="product-title">
                                                        <a href="product-detail.html">Nulla et justo non augue</a>
                                                    </div>
                                                    <div class="product-group-price">
                                                        <div class="product-price-and-shipping">
                                                            <span class="price">£15</span>
                                                            <del class="regular-price">£28.68</del>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="product-buttons d-flex justify-content-center">
                                                    <form action="#" method="post" class="formAddToCart">
                                                        <input type="hidden" name="id_product" value="1">
                                                        <a class="add-to-cart" href="#" data-button-action="add-to-cart">
                                                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                        </a>
                                                    </form>
                                                    <a class="addToWishlist" href="#" data-rel="1" onclick="">
                                                        <i class="fa fa-heart" aria-hidden="true"></i>
                                                    </a>
                                                    <a href="#" class="quick-view hidden-sm-down" data-link-action="quickview">
                                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-miniature js-product-miniature item-one first-item">
                                            <div class="thumbnail-container">
                                                <a href="product-detail.html">
                                                    <img class="img-fluid image-cover" src="assets/img/product/25.jpg" alt="img">
                                                    <img class="img-fluid image-secondary" src="assets/img/product/2.jpg" alt="img">
                                                </a>
                                                <div class="highlighted-informations">
                                                    <div class="variant-links">
                                                        <a href="#" class="color beige" title="Beige"></a>
              <a href="#" class="color orange" title="Orange"></a>
              <a href="#" class="color green" title="Green"></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-description">
                                                <div class="product-groups">
                                                    <div class="product-title">
                                                        <a href="product-detail.html">Nulla et justo non augue</a>
                                                    </div>
                                                    <div class="product-group-price">
                                                        <div class="product-price-and-shipping">
                                                            <span class="price">£20.08</span>
                                                            <del class="regular-price">£28.68</del>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="product-buttons d-flex justify-content-center">
                                                    <form action="#" method="post" class="formAddToCart">

                                                        <input type="hidden" name="id_product" value="1">
                                                        <a class="add-to-cart" href="#" data-button-action="add-to-cart">
                                                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                        </a>
                                                    </form>
                                                    <a class="addToWishlist" href="#" data-rel="1" onclick="">
                                                        <i class="fa fa-heart" aria-hidden="true"></i>
                                                    </a>
                                                    <a href="#" class="quick-view hidden-sm-down" data-link-action="quickview">
                                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item text-center">
                                      <div class="product-miniature js-product-miniature item-one first-item">
                                          <div class="thumbnail-container">
                                              <a href="product-detail.html">
                                                  <img class="img-fluid image-cover" src="assets/img/product/26.jpg" alt="img">
                                                  <img class="img-fluid image-secondary" src="assets/img/product/1.jpg" alt="img">
                                              </a>
                                              <div class="highlighted-informations">
                                                  <div class="variant-links">
                                                      <a href="#" class="color beige" title="Beige"></a>
            <a href="#" class="color orange" title="Orange"></a>
            <a href="#" class="color green" title="Green"></a>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="product-description">
                                              <div class="product-groups">
                                                  <div class="product-title">
                                                      <a href="product-detail.html">Nulla et justo non augue</a>
                                                  </div>
                                                  <div class="product-group-price">
                                                      <div class="product-price-and-shipping">
                                                          <span class="price">£20.08</span>
                                                          <del class="regular-price">£28.68</del>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="product-buttons d-flex justify-content-center">
                                                  <form action="#" method="post" class="formAddToCart">
                                                      <input type="hidden" name="id_product" value="1">
                                                      <a class="add-to-cart" href="#" data-button-action="add-to-cart">
                                                          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                      </a>
                                                  </form>
                                                  <a class="addToWishlist" href="#" data-rel="1" onclick="">
                                                      <i class="fa fa-heart" aria-hidden="true"></i>
                                                  </a>
                                                  <a href="#" class="quick-view hidden-sm-down" data-link-action="quickview">
                                                      <i class="fa fa-eye" aria-hidden="true"></i>
                                                  </a>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="product-miniature js-product-miniature item-one first-item">
                                          <div class="thumbnail-container">
                                              <a href="product-detail.html">
                                                  <img class="img-fluid image-cover" src="assets/img/product/25.jpg" alt="img">
                                                  <img class="img-fluid image-secondary" src="assets/img/product/2.jpg" alt="img">
                                              </a>
                                              <div class="highlighted-informations">
                                                  <div class="variant-links">
                                                      <a href="#" class="color beige" title="Beige"></a>
            <a href="#" class="color orange" title="Orange"></a>
            <a href="#" class="color green" title="Green"></a>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="product-description">
                                              <div class="product-groups">
                                                  <div class="product-title">
                                                      <a href="product-detail.html">Nulla et justo non augue</a>
                                                  </div>
                                                  <div class="product-group-price">
                                                      <div class="product-price-and-shipping">
                                                          <span class="price">£20.08</span>
                                                          <del class="regular-price">£28.68</del>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="product-buttons d-flex justify-content-center">
                                                  <form action="#" method="post" class="formAddToCart">

                                                      <input type="hidden" name="id_product" value="1">
                                                      <a class="add-to-cart" href="#" data-button-action="add-to-cart">
                                                          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                      </a>
                                                  </form>
                                                  <a class="addToWishlist" href="#" data-rel="1" onclick="">
                                                      <i class="fa fa-heart" aria-hidden="true"></i>
                                                  </a>
                                                  <a href="#" class="quick-view hidden-sm-down" data-link-action="quickview">
                                                      <i class="fa fa-eye" aria-hidden="true"></i>
                                                  </a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>

                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
