<body id="home">
  <div class="main-content">
    <div class="wrap-banner">
      <app-sidebar></app-sidebar>
      <app-carousel></app-carousel>
      <div id="wrapper-site">
        <div id="content-wrapper" class="full-width">
          <div id="main">
            <section class="page-home">
              <app-delivery></app-delivery>
              <app-showroom></app-showroom>
              <app-bestseller></app-bestseller>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
