 <!-- banner -->
 <div class="section spacing-10 group-image-special col-lg-12 col-xs-12">
  <div class="row">
      <div class="col-lg-6 col-md-6">
          <div class="effect">
              <a href="#">
                  <img class="img-fluid" src="assets/img/home/effect1.jpg" alt="banner-1" title="banner-1">
              </a>
          </div>
      </div>
      <div class="col-lg-6 col-md-6">
          <div class="effect">
              <a href="#">
                  <img class="img-fluid" src="assets/img/home/effect2.jpg" alt="banner-2" title="banner-2">
              </a>
          </div>
      </div>
  </div>
</div>
