 <!-- product living room -->
 <div class="section living-room">
  <div class="container">
      <div class="tiva-row-wrap row">
          <div class="groupcategoriestab-vertical col-md-12 col-xs-12">
              <div class="grouptab row">
                  <div class="categoriestab-right col-lg-3 align-items-start d-flex flex-column col-md-3 flex-3">
                      <div class="block-title-content">
                          <h2 class="title-block">
                              Living Room
                          </h2>
                      </div>
                      <!-- <div class="btn dropdown-toggle toggle-cate-child-vertical hidden-md-up mr-auto">Select category</div> -->
                      <div class="cate-child-vertical">
                          <ul class="d-flex align-items-start flex-column">
                              <li>
                                  <a href="product-grid-sidebar-left.html">SIDE TABLE</a>
                              </li>
                              <li>
                                  <a href="product-grid-sidebar-left.html">FIREPLACE</a>
                              </li>
                              <li>
                                  <a href="product-grid-sidebar-left.html">FLOOR LAMP</a>
                              </li>
                              <li>
                                  <a href="product-grid-sidebar-left.html">OTTOMAN</a>
                              </li>
                              <li>
                                  <a href="product-grid-sidebar-left.html">ARMCHAIR</a>
                              </li>
                              <li>
                                  <a href="product-grid-sidebar-left.html">CUSHION</a>
                              </li>
                              <li>
                                  <a href="product-grid-sidebar-left.html">DRESSING TABLE</a>
                              </li>
                              <li>
                                  <a href="product-grid-sidebar-left.html">WALL CLOCK</a>
                              </li>
                              <li>
                                  <a href="product-grid-sidebar-left.html">BEDSIDE TABLE</a>
                              </li>
                              <li>
                                  <a href="product-grid-sidebar-left.html">PICTURE</a>
                              </li>
                              <li>
                                  <a href="product-grid-sidebar-left.html">WINDOW</a>
                              </li>
                              <li class="last float-right">
                                  <a href="product-grid-sidebar-left.html">View all</a>
                              </li>
                          </ul>
                      </div>
                  </div>
                  <div class="categoriestab-left product-tab col-md-9 flex-9">
                      <div class="title-tab-content d-flex justify-content-start">
                          <ul class="nav nav-tabs">
                              <li>
                                  <a href="#new" data-toggle="tab" class="active">New Arrivals</a>
                              </li>
                              <li>
                                  <a href="#best" data-toggle="tab">Best Sellers</a>
                              </li>
                              <li>
                                  <a href="#sale" data-toggle="tab">Special Products</a>
                              </li>
                          </ul>
                      </div>
                      <div class="tab-content">
                          <div id="new" class="tab-pane fade in active show">
                              <div class="category-product-index owl-carousel owl-theme owl-loaded owl-drag">
                                  <div class="item text-center">
                                      <div class="product-miniature first-item js-product-miniature item-one">
                                          <div class="thumbnail-container">
                                              <a href="product-detail.html">
                                                  <img class="img-fluid image-cover" src="assets/img/product/1.jpg" alt="img">
                                                  <img class="img-fluid image-secondary" src="assets/img/product/5.jpg" alt="img">
                                              </a>
                                              <div class="product-flags discount">-30%</div>
                                              <div class="highlighted-informations">
                                                  <div class="variant-links">
                                                      <a href="#" class="color beige" title="Beige"></a>
              <a href="#" class="color orange" title="Orange"></a>
              <a href="#" class="color green" title="Green"></a>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="product-description">
                                              <div class="product-groups">
                                                  <div class="product-title">
                                                      <a href="product-detail.html">Nulla et justo non augue</a>
                                                  </div>
                                                  <div class="rating">
                                                      <div class="star-content">
                                                          <div class="star"></div>
                                                          <div class="star"></div>
                                                          <div class="star"></div>
                                                          <div class="star"></div>
                                                          <div class="star"></div>
                                                      </div>
                                                  </div>
                                                  <div class="product-group-price">
                                                      <div class="product-price-and-shipping">
                                                          <span class="price">£20.08</span>
                                                          <del class="regular-price">£28.68</del>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="product-buttons d-flex justify-content-center">
                                                  <form action="#" method="post" class="formAddToCart">
                                                      <a class="add-to-cart" href="#" data-button-action="add-to-cart">
                                                          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                      </a>
                                                  </form>
                                                  <a class="addToWishlist" href="#" data-rel="1" onclick="">
                                                      <i class="fa fa-heart" aria-hidden="true"></i>
                                                  </a>
                                                  <a href="#" class="quick-view hidden-sm-down" data-link-action="quickview">
                                                      <i class="fa fa-eye" aria-hidden="true"></i>
                                                  </a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="item text-center">
                                      <div class="product-miniature js-product-miniature item-one first-item">
                                          <div class="thumbnail-container">
                                              <a href="product-detail.html">
                                                  <img class="img-fluid image-cover" src="assets/img/product/3.jpg" alt="img">
                                                  <img class="img-fluid image-secondary" src="assets/img/product/9.jpg" alt="img">
                                              </a>
                                              <div class="product-flags discount">-10%</div>
                                              <div class="highlighted-informations">
                                                  <div class="variant-links">
                                                      <a href="#" class="color beige" title="Beige"></a>
              <a href="#" class="color orange" title="Orange"></a>
              <a href="#" class="color green" title="Green"></a>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="product-description">
                                              <div class="product-groups">
                                                  <div class="product-title">
                                                      <a href="product-detail.html">Nam semper a ligula nec</a>
                                                  </div>
                                                  <div class="rating">
                                                      <div class="star-content">
                                                          <div class="star"></div>
                                                          <div class="star"></div>
                                                          <div class="star"></div>
                                                          <div class="star"></div>
                                                          <div class="star"></div>
                                                      </div>
                                                  </div>
                                                  <div class="product-group-price">
                                                      <div class="product-price-and-shipping">
                                                          <span class="price">£20.08</span>
                                                          <del class="regular-price">£28.68</del>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="product-buttons d-flex justify-content-center">
                                                  <form action="#" method="post" class="formAddToCart">
                                                      <a class="add-to-cart" href="#" data-button-action="add-to-cart">
                                                          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                      </a>
                                                  </form>
                                                  <a class="addToWishlist" href="#" data-rel="1" onclick="">
                                                      <i class="fa fa-heart" aria-hidden="true"></i>
                                                  </a>
                                                  <a href="#" class="quick-view hidden-sm-down" data-link-action="quickview">
                                                      <i class="fa fa-eye" aria-hidden="true"></i>
                                                  </a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="item text-center">
                                      <div class="product-miniature js-product-miniature item-one first-item">
                                          <div class="thumbnail-container">
                                              <a href="product-detail.html">
                                                  <img class="img-fluid image-cover" src="assets/img/product/2.jpg" alt="img">
                                                  <img class="img-fluid image-secondary" src="assets/img/product/17.jpg" alt="img">
                                              </a>
                                              <div class="highlighted-informations">
                                                  <div class="variant-links">
                                                      <a href="#" class="color beige" title="Beige"></a>
              <a href="#" class="color orange" title="Orange"></a>
              <a href="#" class="color green" title="Green"></a>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="product-description">
                                              <div class="product-groups">
                                                  <div class="product-title">
                                                      <a href="product-detail.html">Phasellus vitae...</a>
                                                  </div>
                                                  <div class="rating">
                                                      <div class="star-content">
                                                          <div class="star"></div>
                                                          <div class="star"></div>
                                                          <div class="star"></div>
                                                          <div class="star"></div>
                                                          <div class="star"></div>
                                                      </div>
                                                  </div>
                                                  <div class="product-group-price">
                                                      <div class="product-price-and-shipping">
                                                          <span class="price">£20.08</span>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="product-buttons d-flex justify-content-center">
                                                  <form action="#" method="post" class="formAddToCart">
                                                      <a class="add-to-cart" href="#" data-button-action="add-to-cart">
                                                          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                      </a>
                                                  </form>
                                                  <a class="addToWishlist" href="#" data-rel="1" onclick="">
                                                      <i class="fa fa-heart" aria-hidden="true"></i>
                                                  </a>
                                                  <a href="#" class="quick-view hidden-sm-down" data-link-action="quickview">
                                                      <i class="fa fa-eye" aria-hidden="true"></i>
                                                  </a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <div class="tab-pane fade" id="best">
                              <div class="category-product-index owl-carousel owl-theme">
                                  <div class="item text-center">
                                      <div class="product-miniature js-product-miniature item-one first-item">
                                          <div class="thumbnail-container">
                                              <a href="product-detail.html">
                                                  <img class="img-fluid image-cover" src="assets/img/product/4.jpg" alt="img">
                                                  <img class="img-fluid image-secondary" src="assets/img/product/10.jpg" alt="img">
                                              </a>
                                              <div class="product-flags discount">-30%</div>
                                              <div class="highlighted-informations">
                                                  <div class="variant-links">
                                                      <a href="#" class="color beige" title="Beige"></a>
              <a href="#" class="color orange" title="Orange"></a>
              <a href="#" class="color green" title="Green"></a>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="product-description">
                                              <div class="product-groups">
                                                  <div class="product-title">
                                                      <a href="product-detail.html">Nam semper a ligula nec</a>
                                                  </div>
                                                  <div class="rating">
                                                      <div class="star-content">
                                                          <div class="star"></div>
                                                          <div class="star"></div>
                                                          <div class="star"></div>
                                                          <div class="star"></div>
                                                          <div class="star"></div>
                                                      </div>
                                                  </div>
                                                  <div class="product-group-price">
                                                      <div class="product-price-and-shipping">
                                                          <span class="price">£20.08</span>
                                                          <del class="regular-price">£28.68</del>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="product-buttons d-flex justify-content-center">
                                                  <form action="#" method="post" class="formAddToCart">
                                                      <a class="add-to-cart" href="#" data-button-action="add-to-cart">
                                                          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                      </a>
                                                  </form>
                                                  <a class="addToWishlist" href="#" data-rel="1" onclick="">
                                                      <i class="fa fa-heart" aria-hidden="true"></i>
                                                  </a>
                                                  <a href="#" class="quick-view hidden-sm-down" data-link-action="quickview">
                                                      <i class="fa fa-eye" aria-hidden="true"></i>
                                                  </a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="item text-center">
                                      <div class="product-miniature js-product-miniature item-one first-item">
                                          <div class="thumbnail-container">
                                              <a href="product-detail.html">
                                                  <img class="img-fluid image-cover" src="assets/img/product/5.jpg" alt="img">
                                                  <img class="img-fluid image-secondary" src="assets/img/product/12.jpg" alt="img">
                                              </a>
                                              <div class="product-flags discount">-10%</div>
                                              <div class="highlighted-informations">
                                                  <div class="variant-links">
                                                      <a href="#" class="color beige" title="Beige"></a>
              <a href="#" class="color orange" title="Orange"></a>
              <a href="#" class="color green" title="Green"></a>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="product-description">
                                              <div class="product-groups">
                                                  <div class="product-title">
                                                      <a href="product-detail.html">Nulla et justo non augue</a>
                                                  </div>
                                                  <div class="rating">
                                                      <div class="star-content">
                                                          <div class="star"></div>
                                                          <div class="star"></div>
                                                          <div class="star"></div>
                                                          <div class="star"></div>
                                                          <div class="star"></div>
                                                      </div>
                                                  </div>
                                                  <div class="product-group-price">
                                                      <div class="product-price-and-shipping">
                                                          <span class="price">£20.08</span>
                                                          <del class="regular-price">£28.68</del>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="product-buttons d-flex justify-content-center">
                                                  <form action="#" method="post" class="formAddToCart">
                                                      <a class="add-to-cart" href="#" data-button-action="add-to-cart">
                                                          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                      </a>
                                                  </form>
                                                  <a class="addToWishlist" href="#" data-rel="1" onclick="">
                                                      <i class="fa fa-heart" aria-hidden="true"></i>
                                                  </a>
                                                  <a href="#" class="quick-view hidden-sm-down" data-link-action="quickview">
                                                      <i class="fa fa-eye" aria-hidden="true"></i>
                                                  </a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="item text-center">
                                      <div class="product-miniature js-product-miniature item-one first-item">
                                          <div class="thumbnail-container">
                                              <a href="product-detail.html">
                                                  <img class="img-fluid image-cover" src="assets/img/product/6.jpg" alt="img">
                                                  <img class="img-fluid image-secondary" src="assets/img/product/13.jpg" alt="img">
                                              </a>
                                              <div class="highlighted-informations">
                                                  <div class="variant-links">
                                                      <a href="#" class="color beige" title="Beige"></a>
              <a href="#" class="color orange" title="Orange"></a>
              <a href="#" class="color green" title="Green"></a>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="product-description">
                                              <div class="product-groups">
                                                  <div class="product-title">
                                                      <a href="product-detail.html">Nulla et justo non augue</a>
                                                  </div>
                                                  <div class="rating">
                                                      <div class="star-content">
                                                          <div class="star"></div>
                                                          <div class="star"></div>
                                                          <div class="star"></div>
                                                          <div class="star"></div>
                                                          <div class="star"></div>
                                                      </div>
                                                  </div>
                                                  <div class="product-group-price">
                                                      <div class="product-price-and-shipping">
                                                          <span class="price">£20.08</span>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="product-buttons d-flex justify-content-center">
                                                  <form action="#" method="post" class="formAddToCart">
                                                      <a class="add-to-cart" href="#" data-button-action="add-to-cart">
                                                          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                      </a>
                                                  </form>
                                                  <a class="addToWishlist" href="#" data-rel="1" onclick="">
                                                      <i class="fa fa-heart" aria-hidden="true"></i>
                                                  </a>
                                                  <a href="#" class="quick-view hidden-sm-down" data-link-action="quickview">
                                                      <i class="fa fa-eye" aria-hidden="true"></i>
                                                  </a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <div class="tab-pane fade" id="sale">
                              <div class="category-product-index owl-carousel owl-theme">
                                  <div class="item text-center">
                                      <div class="product-miniature js-product-miniature item-one first-item">
                                          <div class="thumbnail-container">
                                              <a href="product-detail.html">
                                                  <img class="img-fluid image-cover" src="assets/img/product/7.jpg" alt="img">
                                                  <img class="img-fluid image-secondary" src="assets/img/product/14.jpg" alt="img">
                                              </a>
                                              <div class="product-flags discount">-30%</div>
                                              <div class="highlighted-informations">
                                                  <div class="variant-links">
                                                      <a href="#" class="color beige" title="Beige"></a>
              <a href="#" class="color orange" title="Orange"></a>
              <a href="#" class="color green" title="Green"></a>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="product-description">
                                              <div class="product-groups">
                                                  <div class="product-title">
                                                      <a href="product-detail.html">Nulla et justo non augue</a>
                                                  </div>
                                                  <div class="rating">
                                                      <div class="star-content">
                                                          <div class="star"></div>
                                                          <div class="star"></div>
                                                          <div class="star"></div>
                                                          <div class="star"></div>
                                                          <div class="star"></div>
                                                      </div>
                                                  </div>
                                                  <div class="product-group-price">
                                                      <div class="product-price-and-shipping">
                                                          <span class="price">£20.08</span>
                                                          <del class="regular-price">£28.68</del>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="product-buttons d-flex justify-content-center">
                                                  <form action="#" method="post" class="formAddToCart">
                                                      <a class="add-to-cart" href="#" data-button-action="add-to-cart">
                                                          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                      </a>
                                                  </form>
                                                  <a class="addToWishlist" href="#" data-rel="1" onclick="">
                                                      <i class="fa fa-heart" aria-hidden="true"></i>
                                                  </a>
                                                  <a href="#" class="quick-view hidden-sm-down" data-link-action="quickview">
                                                      <i class="fa fa-eye" aria-hidden="true"></i>
                                                  </a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="item text-center">
                                      <div class="product-miniature js-product-miniature item-one first-item">
                                          <div class="thumbnail-container">
                                              <a href="product-detail.html">
                                                  <img class="img-fluid image-cover" src="assets/img/product/8.jpg" alt="img">
                                                  <img class="img-fluid image-secondary" src="assets/img/product/15.jpg" alt="img">
                                              </a>
                                              <div class="product-flags discount">-20%</div>
                                              <div class="highlighted-informations">
                                                  <div class="variant-links">
                                                      <a href="#" class="color beige" title="Beige"></a>
              <a href="#" class="color orange" title="Orange"></a>
              <a href="#" class="color green" title="Green"></a>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="product-description">
                                              <div class="product-groups">
                                                  <div class="product-title">
                                                      <a href="product-detail.html">Nulla et justo non augue</a>
                                                  </div>
                                                  <div class="rating">
                                                      <div class="star-content">
                                                          <div class="star"></div>
                                                          <div class="star"></div>
                                                          <div class="star"></div>
                                                          <div class="star"></div>
                                                          <div class="star"></div>
                                                      </div>
                                                  </div>
                                                  <div class="product-group-price">
                                                      <div class="product-price-and-shipping">
                                                          <span class="price">£20.08</span>
                                                          <del class="regular-price">£28.68</del>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="product-buttons d-flex justify-content-center">
                                                  <form action="#" method="post" class="formAddToCart">
                                                      <a class="add-to-cart" href="#" data-button-action="add-to-cart">
                                                          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                      </a>
                                                  </form>
                                                  <a class="addToWishlist" href="#" data-rel="1" onclick="">
                                                      <i class="fa fa-heart" aria-hidden="true"></i>
                                                  </a>
                                                  <a href="#" class="quick-view hidden-sm-down" data-link-action="quickview">
                                                      <i class="fa fa-eye" aria-hidden="true"></i>
                                                  </a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="item text-center">
                                      <div class="product-miniature js-product-miniature item-one first-item">
                                          <div class="thumbnail-container">
                                              <a href="product-detail.html">
                                                  <img class="img-fluid image-cover" src="assets/img/product/9.jpg" alt="img">
                                                  <img class="img-fluid image-secondary" src="assets/img/product/16.jpg" alt="img">
                                              </a>
                                              <div class="product-flags discount">-20%</div>
                                              <div class="highlighted-informations">
                                                  <div class="variant-links">
                                                      <a href="#" class="color beige" title="Beige"></a>
              <a href="#" class="color orange" title="Orange"></a>
              <a href="#" class="color green" title="Green"></a>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="product-description">
                                              <div class="product-groups">
                                                  <div class="product-title">
                                                      <a href="product-detail.html">Nulla et justo non augue</a>
                                                  </div>
                                                  <div class="rating">
                                                      <div class="star-content">
                                                          <div class="star"></div>
                                                          <div class="star"></div>
                                                          <div class="star"></div>
                                                          <div class="star"></div>
                                                          <div class="star"></div>
                                                      </div>
                                                  </div>
                                                  <div class="product-group-price">
                                                      <div class="product-price-and-shipping">
                                                          <span class="price">£20.08</span>
                                                          <del class="regular-price">£28.68</del>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="product-buttons d-flex justify-content-center">
                                                  <form action="#" method="post" class="formAddToCart">
                                                      <a class="add-to-cart" href="#" data-button-action="add-to-cart">
                                                          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                      </a>
                                                  </form>
                                                  <a class="addToWishlist" href="#" data-rel="1" onclick="">
                                                      <i class="fa fa-heart" aria-hidden="true"></i>
                                                  </a>
                                                  <a href="#" class="quick-view hidden-sm-down" data-link-action="quickview">
                                                      <i class="fa fa-eye" aria-hidden="true"></i>
                                                  </a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
